.container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.result {
    margin: 20px;
    background: #eee;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: 110px;
    -webkit-user-drag: element;
}
.kitten{
    background:black;
    margin-top:20px;
    height: 200px;
}
.uploaded{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}