.login_form{
	width: 100%;
	max-width: 355px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-top:145px;
}
.login_form button{
	background: black;
	color: white;
	padding: 12px 42px;
	margin-top: 37px;
	font-size: 14px;
	font-family: 'sen-bold';
}
.input_cont {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    margin-top:18px;
    position: relative;
}
.input_cont label{
	font-family:'sen-reg';
	font-size:14px;
	margin-bottom:5px;
}
.input_cont input{
    width: 100%;
    min-height: 50px;
    background: #eef0f2;
    border: none;
    outline: none;
    text-align: center;
    font-size: 14px;
    font-family: 'sen-reg';
    letter-spacing: 1px;
    border: 1px solid transparent;
}
.input_cont input.error{
    border:1px solid red;
}
.input_cont.error.login:before{
	content: "Podany login jest nie prawidłowy";
	font-size: 10px;
	position: absolute;
	bottom: 0;
	transform: translate(0,120%);
	color: red;
	font-family: 'sen-bold';
}
.input_cont.error.password:before{
	content: "Podane hasło jest nie prawidłowe";
	font-size: 10px;
	position: absolute;
	bottom: 0;
	transform: translate(0,120%);
	color: red;
	font-family: 'sen-bold';
}